%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang noet


%% Ensure the ebin directory exists before we try to put files there.
%%{pre_hooks, [
%%	{compile, "mkdir -p ebin"}
%%]}.


%% == xref ==

%% Enable xref warnings.
{xref_warnings, true}.

%% xref checks to run
{xref_checks, [undefined_function_calls]}.
